/* CSS Reset | http://meyerweb.com/eric/tools/css/reset/ | v2.0
-------------------------------------------------------------- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* General Styles
-------------------------------------------------------------- */
html {
	font-size: 100%;
}
* {
	box-sizing:border-box;
}
*.clear {
	clear: both;
	float: none;
}
*.clearfix:after {
	content: "";
	display: block;
	clear: both;
}
body {
	font-family: Quicksand, 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif !important;
	font-size: 15px;
	border: 0;
	color: #282828;
	background-color: #F1F3F2;
}
/* Links */
a, a:link, a:visited {
	color: #f1f3f2;
	text-decoration: none;
}
a:hover, a:active {
	text-decoration: none;
}
/* Form Elements */
input, textarea {
	padding: 0.7em;
	background: #fff;
	border: 1px solid #ddd;
	font-size: 1.0em;
	color: #222;
	font-family: Quicksand, 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif !important;
}
input[type="submit"] {
	padding: 0.5em 1em;
	text-decoration: none;
	color: #fff;
	background: #bb0000;
	font-weight: bold;
	border: none;
}
input[type="submit"]:hover {
	background: #222;
	cursor: pointer;
}
ul {
	margin: 0;
	padding: 0;
	list-style-type: none !important;
}
ol {
	margin: 0;
	padding: 0;
	list-style-type: none !important;
}
/* Clearing Floats */
.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
	clear: both;
}
.clearfix {
 *zoom: 1; /* For IE 6/7 only */
}
/* Make Form Elements responsive */
input, textarea, select {
	max-width: 100%;
}
/* Basic Structure
-------------------------------------------------------------- */
.container {
	max-width: 1080px;
	width: 100%;
	background:#F1F3F2;
	margin: 0 auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#wrapper {
	margin-top: 1.5em;
}
#wrap {
	clear: both;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom:30px;
}

.contactlink {
	display:block;
	padding:16px 18px 16px 18px;
	background:#7DCDF3;
	border-radius:2px;
	text-align:center;
	font-size:14px;
	line-height:1.1;
	-webkit-transition: all 0.1s ease;
	-moz-transition: all 0.1s ease;
	-o-transition: all 0.1s ease;
	transition: all 0.1s ease;
	-webkit-transform:translate2d(0, 0, 0);
	-webkit-backface-visibility:hidden;
}
.contactlink span {
	background:url() no-repeat 95% 5px;
	color:#FFF;
	padding-right:25px;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
	-webkit-transform:translate2d(0, 0, 0);
	-webkit-backface-visibility:hidden;
}
.contactlink:hover {
	background:#7DCDF3;
}
.contactlink:hover span {
	background:url(../../../images/icon_bggrey_arrow_white.png) no-repeat 100% 5px;
}
#content {
	float: left;
	width: 70%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background:#FFF;
	overflow:hidden;
	box-shadow:rgba(204, 204, 204, 0.2) 0px 0px 1px 2px;
	-webkit-box-shadow:rgba(204, 204, 204, 0.2) 0px 0px 1px 2px;
	-moz-box-shadow:rgba(204, 204, 204, 0.2) 0px 0px 1px 2px;
	padding:0 20px 20px 20px;
}
body.home #content article, body.archive #content article {
	width:32.5%;
	height:286px;
	float:left;
	color:#282828;
	overflow:hidden;
	border-bottom: 1px solid #DDDDDD;
	background:url(images/border_ddd.gif) no-repeat right top;
	position:relative;
	margin-top:20px;
}

body.home #content > article:nth-last-of-type(1), body.archive #content > article:nth-last-of-type(1), body.home #content > article:nth-last-of-type(2), body.archive #content > article:nth-last-of-type(2), body.home #content > article:nth-last-of-type(3), body.archive #content > article:nth-last-of-type(3) {
	border-bottom:none;
}
body.home #content > div+article, body.archive #content > div+article {
	width:100% !important;
	height:200px;
	padding:0 0 20px 0;
	margin:0;
}

body.home #content article h1.entry-title, body.archive #content article h1.entry-title {
	font-size:16px;
	margin-bottom:20px;
	width:100%;
	height:2.7em;
	overflow:hidden;
}
body.home #content > div+article h1.entry-title, body.archive #content > div+article h1.entry-title {
	font-size:22px;
	width:100%;
	height:4em;
	overflow:hidden;
	margin-bottom:30px;
}
body.home #content article h1.entry-title a:hover, body.archive #content article h1.entry-title a:hover {
	color:#5BA633;
	text-decoration:none;
}
body.home #content > div+article .article-list-left, body.archive #content > div+article .article-list-left {
	float:left;
	width:50%;
}
body.home #content article .article-list-right, body.archive #content article .article-list-right {
	width:100%;
}
body.home #content article .article-list-right .article-list-eyecatch, body.archive #content article .article-list-right .article-list-eyecatch {
	width:270px;
	height:180px;
	overflow:hidden;
	position:relative;
	background-size:cover;
}
body.home #content > div+article .article-list-right, body.archive #content > div+article .article-list-right {
	float:right;
	width:42%;
}
body.home #content > div+article .article-list-right .article-list-eyecatch, body.archive #content > div+article .article-list-right .article-list-eyecatch {
	width:270px;
	height:180px;
	overflow:hidden;
	background-size:cover;
}

#sidebar {
	float: right;
	width: 27.8%;
}
/* Top Header
-------------------------------------------------------------- */
#header-wrap {
	background: #333;
}
#header-inner {
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#head_h1 {
	background:#7DCDF3;
	padding:5px 0;
}
#head_h1 h1 {
	max-width:1080px;
	margin:0 auto;
	color:#fff;
	padding:2px 0 2px 20px;
	font-size:11px;
}
#logo-gnav-header {
	background:#FFF;
}
#logo-gnav-header .inner {
	max-width:1080px;
	overflow:hidden;
	margin:0 auto;
}
#logo-gnav-header .inner h2 {
	float:left;
	display:inline-block;
	padding-top:14px;
	padding-left: 20px;
}
#logo-gnav-header .inner h2 a {
	font-family: 'Slabo 27px', serif;
	color:#000;
	font-size: 48px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
#logo-gnav-header .inner h2 a:hover {
	filter:alpha(opacity=70);
	-moz-opacity: 0.7;
	opacity: 0.7;
}
#logo-gnav-header .inner ul.gnav {
	float:right;
	font-size: 15px;
	margin-right: 20px;
}
#logo-gnav-header .inner ul.gnav li {
	float:left;
}
#logo-gnav-header .inner ul.gnav li a {
	display:block;
	height:53px;
	width:53px;
}

#logo-gnav-header .inner ul.gnav li.gnav-item a {
  width:auto !important;
  font-size:15px;
  color:#282828;
	text-transform: uppercase;
  position: relative;
  padding:20px 0px 0px 30px;
  display: inline-block;
  text-decoration: none;
}

#logo-gnav-header .inner ul.gnav li.gnav-item a span{
	color: #000;
	font-weight: bold;
}

#main-banner_wrap {
	background:url(images/mainbanner1.png) no-repeat center top #fff;
	background-size:auto;
	width:100%;
	height:200px;
}
#main-banner {
	background:url(../../../images/bg_wrap.png) repeat left top;
	width:100%;
	height:200px;
}
#main-banner .inner {
	max-width:540px;
	margin:0 auto;
}
#nav-wrapper {
	background:#FFF;
	border-bottom:#E5E5E5 solid 1px;
}
#nav-wrapper .inner {
	max-width:1080px;
	height: 45px;
	margin:0 auto;
	position: relative;
}
#topnav-list {
	display: block;
	list-style-type: none;
	position: relative;
	margin-top: 13px;
	margin-left: 20px;
}
#topnav-list li {
	display: inline-block;
	font-size: 15px;
	position:relative;
	vertical-align: middle;
	-webkit-transform:translateZ(0)
	transform:translateZ(0);
	-webkit-backface-visiblity:hidden;
	backface-visibility: hidden;
}

#topnav-list a{
	display: block;
	height:42px;
	padding: 0 20px;
	text-decoration: none;
	text-transform: uppercase;
	color:#282828;
}

#topnav-list li a span{
	color:#000;
	font-family: Quicksand, 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif !important;
	font-weight:bold;
	line-height: 1.5;
}

#topnav-list li a:after{
	content: '';
  position: absolute;
  bottom: 18px;
  left: 20px;
	width: 100% ;
	width: -webkit-calc(100% - 40px) ;
	width: calc(100% - 40px) ;
  height: 3px;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  background-color: #7DCDF3;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

#topnav-list li a:hover::after{
	-webkit-transform: scaleX(1);
	-ms-transform: scaleX(1);
	transform: scaleX(1);
}

/* Header
-------------------------------------------------------------- */

#header {
	padding: 2.5em;
}
#logo {
	float: left;
	max-width: 100%;
}

/* Widget Styling
-------------------------------------------------------------- */
.widget {
	-ms-word-wrap: break-word;
	word-wrap: break-word;
	background:#FFF;
	box-shadow:rgba(204, 204, 204, 0.2) 0px 0px 1px 2px;
	-webkit-box-shadow:rgba(204, 204, 204, 0.2) 0px 0px 1px 2px;
	-moz-box-shadow:rgba(204, 204, 204, 0.2) 0px 0px 1px 2px;
	margin-bottom:20px;
	padding:15px 15px 15px 15px;
	font-size:14px;
}
.widget.top_banner {
	background:none;
	box-shadow:none;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	padding:0;
}
.widget.top_banner a{
	display:block;
}
.widget.top_banner li{
	margin-bottom:15px;
}
.widget.top_banner li:last-child{
	margin-bottom:0px;
}
.widget.top_banner img{
	backface-visibility: hidden;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.widget.top_banner img:hover{
	filter:alpha(opacity=60);
	-moz-opacity: 0.6;
	opacity: 0.6;
}
.widgettitle {
	background: #FFF;
	margin-bottom:12px;
	width:100%;
	font-size:14px;
	line-height:1.5;
	padding:0 0 3px 0;
}
.widgettitle span {
	font-family: Quicksand, 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif !important;
	font-weight: bold;
	line-height: 1.5em;
	padding:1px 0 0 32px;
}
/*ã‚«ãƒ†ã‚´ãƒªãƒ¼*/
aside#side-menu-category .widgettitle span,aside#side-menu-aboutus .widgettitle span {
	background:url(../../../images/icon_tag01.png) no-repeat left top;
	background-size:22px;
}
aside#side-menu-category,aside#side-menu-aboutus {
	display:none;
}
aside#side-menu-category ul.menu li,aside#side-menu-aboutus ul.menu li  {
	font-size:14px;
	line-height:1.4;
	margin-bottom:10px;
}
aside#side-menu-category ul.menu li:last-child,aside#side-menu-aboutus ul.menu li:last-child {
	margin-bottom:0;
}
aside#side-menu-category ul.menu li.topicon,aside#side-menu-aboutus ul.menu li.topicon  {
	display:none;
}
aside#side-menu-category ul.menu li a,aside#side-menu-aboutus ul.menu li a  {
	display:block;
	color:#282828;
	background:url(../../../images/arrow_07.png) no-repeat left 6px;
	background-size:7px auto;
	padding-left:15px;
}
/*ãƒ—ãƒ­ãƒ€ã‚¯ãƒˆ*/
aside#text-6 .widgettitle {
	margin-bottom:6px;
}
aside#text-6 .widgettitle span {
	background:url(../../../images/icon_pc.png) no-repeat left top;
	background-size:22px;
}
/*å½“ç¤¾é‹å–¶ã®ã‚µãƒ¼ãƒ“ã‚¹*/

aside#text-7 .widgettitle span {
	background:url(../../../images/icon_denkyu.png) no-repeat left top;
	background-size:22px;
}
/*äººæ°—ã®æŠ•ç¨¿*/
aside#popular-posts .widgettitle span {
	background:url(../../../images/icon_crown.png) no-repeat left top;
	background-size:22px;
}
aside#popular-posts ul.popular-posts-list li {
	margin-bottom:10px;
	padding-bottom:10px;
	border-bottom:#DDDDDD solid 1px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
aside#popular-posts ul.popular-posts-list li:hover {
	filter:alpha(opacity=60);
	-moz-opacity: 0.6;
	opacity: 0.6;
}
aside#popular-posts ul.popular-posts-list li:last-child {
	margin-bottom:0;
	padding-bottom:0;
	border-bottom:none;
}
aside#popular-posts ul.popular-posts-list li img {
	border:#EBEBEB solid 1px;
	padding:1px;
}
aside#popular-posts ul.popular-posts-list a {
	display:inline-block;
	vertical-align:middle;
	width:12%;
}
aside#popular-posts ul.popular-posts-list a.popular-posts-title {
	width:80%;
	line-height:1.5;
	color:#282828;
	text-decoration:none;
	margin-left:2%;
	font-size:12px;
}

/*ãƒ—ãƒ­ãƒ€ã‚¯ãƒˆ*/
	aside#text-6 .widgettitle span {
	background:url(../../../images/icon_pc.png) no-repeat left top;
	background-size:22px auto;
}
/*å½“ç¤¾é‹å–¶ã®ã‚µãƒ¼ãƒ“ã‚¹*/
	aside#text-7 .widgettitle span {
	background:url(../../../images/icon_denkyu.png) no-repeat left top;
	background-size:22px auto;
}
/*äººæ°—ã®æŠ•ç¨¿*/
	aside#popular-posts .widgettitle span {
	background:url(../../../images/icon_crown.png) no-repeat left top;
	background-size:22px auto;
}
/*åŸ·ç­†ã—ãŸæœ¬*/
aside#side-menu-category,aside#side-menu-aboutus  {
	display:block;
}

/*banner*/
.widget img {
	text-align: center;
	max-width: 100%;
	height: auto;
}

/* Posts and Pages
-------------------------------------------------------------- */
.type-post, .type-page, .type-attachment {
}
.page-title, .entry-title {
	font-size: 2.1em;
	font-family: Quicksand, 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif !important;
	line-height: 1.4em;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
	font-weight:bold;
	color:#262626;
}
.page-title {
	color: #333;
}
.entry-title a:link, .entry-title a:visited {
	color: #bb0000;
	text-decoration: none;
}
.entry-title a:hover, .entry-title a:active {
	color: #222;
}
.sticky {
	border-left: 5px solid #bb0000;
}

body.home #content > div + article, body.home #content article, body.home #content > article, body.archive #content > div + article, body.archive #content article, body.archive #content > article {
	width:100% !important;
	overflow:hidden;
	padding:4% 10% 4% 4%!important;
	height:auto;
	margin-top:0;
	border-bottom:solid 1px #EBEBEB;
}
body.home #content > article:nth-last-of-type(2), body.home #content > article:nth-last-of-type(3), body.archive #content > article:nth-last-of-type(2), body.archive #content > article:nth-last-of-type(3) {
	border-bottom: 1px solid #EBEBEB;
}
body.home #content > article:nth-last-of-type(1), body.archive #content > article:nth-last-of-type(1) {
	border-bottom:none;
}
body.home #content > div + article h1.entry-title, body.home #content article h1.entry-title, body.archive #content > div + article h1.entry-title, body.archive #content article h1.entry-title {
	font-size:15px;
	margin:0;
	height:auto;
}
#content > div + article .meta-date, #content article .meta-date {
	font-size:13px;
}
body.home #content article .article-list-right, body.archive #content article .article-list-right {
	float:right;
	width:42%;
	height:100%;
}
body.home #content article .article-list-left, body.archive #content article .article-list-left {
	float:left;
	width:50%;
}

body.home #content > div + article .article-list-right .article-list-eyecatch, body.home #content article .article-list-right .article-list-eyecatch, body.archive #content > div + article .article-list-right .article-list-eyecatch, body.archive #content article .article-list-right .article-list-eyecatch {
	background-size:cover !important;
}

/* Page Links | wp_link_pages() */
.page-links {
	margin: 0;
	word-spacing: 1em;
	font-weight: bold;
}
/* Postmeta */
.entry-meta {
	color: #6C6C6C;
	margin:0 0 8px 0;
	font-size: 0.85em;
	line-height: 1;
	background: #FFF;
}
body.home #content > div + article .entry-meta, body.archive #content > div + article .entry-meta {
	font-size:1.1em;
}
.entry-meta .meta-date, .entry-meta .meta-author, .entry-meta .meta-comments {
	display: inline-block;
	margin: 0;
}
.entry-meta .meta-date {
	color:#6C6C6C;
	font-size:12px;
}
.entry-meta .meta-date a {
	color:#6C6C6C;
}
#content > div + article .meta-date {
	font-size:14px;
}
.entry-meta .meta-date a:hover, .entry-meta .meta-date a:active {
	text-decoration: none;
}
.entry-meta .meta-comments {
	float: right;
	font-weight: bold;
}
.postinfo {
	clear: both;
	line-height: 1.7em;
	font-size: 0.8em;
	color:#CCCCCC;
	background:url(../../../images/icon_tag01.png) no-repeat left top;
	background-size:19px auto;
	padding-left:28px;
	margin-top:15px;
	height:3em;
	overflow:hidden;
	position:relative;
}

.postinfo span {
	margin-right: 0.5em;
}
.postinfo a {
	color:#666666;
	z-index:9999;
}
.postinfo a:hover {
	color:#5BA633;
}
.postinfo .meta-category {
	position:absolute;
	z-index:1000;
}
#content .meta-author, #content .meta-comments {
	display:none;
}
/* Read more Link */
body.home .more-link, body.archive .more-link {
	display:block;
	position:absolute;
	left:0;
	top:0;
	width:100%;
	text-align:left;
	text-indent:-999px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	height:215px;
}
body.home .more-link:hover, .more-link:active, body.archive .more-link:hover, .more-link:active {
	background:rgba(255,255,255,0.6);
	text-decoration: none;
}
body.home .article-list .more-link {
	height:100%;
}
#content > div + article .more-link {
}

/* Archives and Search Heading */
.archive-title {
	font-weight: bold;
	color: #fff;
	background: #bb0000;
	padding: 0.6em 1.0em;
	line-height: 1.4em;
	margin-bottom: 0.5em;
}
.archive-description {
	margin: -0.5em 0 0.5em 0;
	padding: 0.8em;
	line-height: 1.6;
	color: #333;
	background: #eee;
	border-bottom: 2px solid #ddd;
}
/* Theme Pagination */
.post-pagination {
	color: #515452;
	line-height: 1.4em;
	margin-bottom: 0.5em;
	font-size:0;
	text-align:center;
	display:block;
	margin-top:30px;
}
.post-pagination .page-numbers.current {
	font-size:13px;
	padding:10px 15px;
	line-height:1.4em;
	border-radius:2px;
	background:#7DCDF3;
	color:#FFF;
	text-decoration:none;
	margin-right: 0.8em;
}
.post-pagination a {
	font-size:13px;
	line-height:1.4em;
	margin-right: 0.8em;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	color: #515452;
	background:#E3E8E6;
	padding:10px 15px;
	border-radius:2px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.post-pagination a:hover {
	background:#7DCDF3;
	color:#FFF;
}

/* Text Elements
-------------------------------------------------------------- */
.entry {
	line-height: 1.9em;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
	color:#262626;
	font-size:15px;
}
.entry p, .comment p {
	margin-bottom: 0.75em;
	font-size:15px;
}
.entry h1, .comment h1, .entry h2, .comment h2, .entry h3, .comment h3, .entry h4, .comment h4, .entry h5, .comment h5, .entry h6, .comment h6 {
	color: #222;
	font-weight: bold;
	line-height: 1.5em;
	margin: 0 0 25px;
}
.entry h1, .comment h1 {
	font-size: 3.0em;
}
.entry h2, .comment h2 {
	font-size: 2.25em;
}
.entry h3, .comment h3 {
	font-size: 1.5em;
}
.entry h4, .comment h4 {
	font-size: 1.25em;
}
.entry h5, .comment h5 {
	font-size: 1.125em;
	margin: 1.3em 0 0;
}
.entry h6, .comment h6 {
	font-size: 1.0em;
	margin: 1.3em 0 0;
}
.entry ul, .comment ul {
	list-style-type:none;
}
.entry ol, .comment ol {
	list-style:inside decimal !important;
	margin: 0 0 1.5em 0;
}
.entry ol ol, .comment ol ol {
	list-style: upper-alpha inside;
}
.entry ol ol ol, .comment ol ol ol {
	list-style: lower-roman inside;
}
.entry ol ol ol ol, .comment ol ol ol ol {
	list-style: lower-alpha inside;
}
.entry ul ul, .comment ul ul, .entry ol ol, .comment ol ol, .entry ul ol, .comment ul ol .entry ol ul, .comment ol ul {
	margin-bottom: 0.2em;
}
dl {
	margin: 1em 0;
}
dt {
	font-weight: bold;
}
dd {
	margin-bottom: 1.5em;
}
strong {
	font-weight: bold;
}
cite, em, i {
	font-style: italic;
}
big, .big_tag {
	font-size: 1.3em;
}
ins {
	padding: 1px 2px;
	/*background: #ffa;*/
	text-decoration: none;
}
code, pre {
	padding: 3px 8px;
	margin: 0 1px;
	background: #eeeeee;
	color: #222;
	font-size: 0.9em;
	font-family: Quicksand, 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif !important;
	overflow: auto;
	line-height: 1.0em;
}
del, strike, s {
	text-decoration: line-through;
}
pre {
	font-family: Quicksand, 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif !important;
	}
small {
	font-size: 0.7em;
}
abbr, acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}
sup, sub {
	height: 0;
	line-height: 1;
	position: relative;
	vertical-align: baseline;
	font-size: 0.8em;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}
.entry var, .entry kbd, .entry tt, .entry .tt_tag {
	font-size: 1.1em;
	font-family: Quicksand, 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif !important;
}
blockquote {
	background:url(../../../images/bq_bg01.png) no-repeat 3% 15%, url(../../../images/bq_bg02.png) no-repeat 97% 85% #F1F3F2;
	background-size:20px auto, 20px auto, auto;
	padding:20px 70px;
	color:#666666;
}
blockquote cite {
	display: block;
	margin: 0.5em 0 0 0.5em;
	color: #777;
}
.entry table {
	border-collapse: collapse;
	border-spacing: 0;
	border: 1px solid #ddd;
	margin: 1em 0;
	text-align: left;
	width: 100%;
}
.entry tr th, .entry thead th {
	background: #e5e5e5;
	font-weight: bold;
	padding: 0.2em 1em;
}
.entry tr td {
	border-top: 1px solid #ddd;
	padding: 0.2em 1em;
}
.entry tr.alternate td {
	background: #f5f5f5;
}
/*è¨˜äº‹*/
body.single #content.first {
	padding:40px;
}
body.single #content.first .infoWrap {
	padding-bottom:20px;
	border-bottom:#DDDDDD solid 1px;
	margin-bottom:40px;
}

body.single #content.first .head_meta {
	overflow:hidden;
	margin-bottom:15px;
}
body.single #content.first .entry-meta {
	display:inline-block;
	float:left;
}
body.single #content.first .entry-meta .meta-date {
	font-size:14px;
}
body.single #content.first .entry-meta .meta-date a {
	color:#6C6C6C;
}
body.single #content.first .entry-meta .meta-date a:hover {
	color:#5BA633
}
body.single #content.first .authorArea {
	display:inline-block;
	margin-left:15px;
}
body.single #content.first .authorArea p {
	display:inline-block;
	background:url(../../../images/icon_user.png) no-repeat left top;
	background-size:12px auto;
	padding-left:20px;
	font-size:13px;
	color:#6C6C6C;
}
body.single #content.first .entry a {
	color:#5AA533;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
body.single #content.first .entry a:hover {
	text-decoration:underline;
}
body.single #content.first .entry-title {
	color:#272727;
	font-weight:bold;
	line-height:1.5;
	font-size:30px;
	margin-bottom:28px;
}
body.single #content.first .entry h2 {
	background:url(../../../images/h2_bg01.png) no-repeat left 6px, url(../../../images/h2_bg02.png) repeat-x bottom;
	background-size:5px auto, auto auto;
	font-size:28px;
	padding:0 15px 14px 20px;
	margin-bottom:25px;
}
body.single #content.first .entry h3 {
	background-size:12px auto;
	border-radius:2px;
	padding:10px 15px 8px 32px;
	font-size:20px;
	margin-bottom:25px;
}
body.single #content.first .entry h4 {
	background:url(../../../images/titleline_01.gif) no-repeat left 10px;
	background-size:12px auto;
	border-bottom:#DDDDDD solid 1px;
	padding:0 15px 12px 20px;
	font-size:18px;
	margin-bottom:25px;
}
body.single #content.first .entry h5 {
	border-bottom:#DDDDDD solid 1px;
	padding:0 15px 12px 0;
	font-size:18px;
	margin-bottom:25px;
}

body.single #content.first .entry p{
	font-size:17px;
	color: #333;
	line-height:2.15;
	margin-bottom: 30px;
}
body.single #content.first .entry .arrowLink, body.single #content.first .entry .arrow_icon {
	display:block;
	background:url(../../../images/arrow_sq_01.png) no-repeat left 8px;
	background-size:12px auto;
	padding-left:20px;
	margin-bottom:10px;
}
body.single #content.first .entry ul {
	overflow:hidden;
}
body.single #content.first .entry ul li {
	background:url(/images/arrow_01.png) no-repeat left 8px;
	background-size:7px auto;
	padding-left:18px;
	margin-bottom:15px;
}
body.single #content.first .entry ul.side li {
	float:left;
	margin-right:20px;
}
body.single #content.first .entry ul.side li:last-child {
	margin-right:0;
}
body.single #content.first .entry hr {
	height: 0;
	margin: 0;
	padding: 0;
	border: 0;
	border-top: 1px solid #bbb;
}
body.single #content.first .profile {
	padding:20px 0;
	border-top:#DDDDDD solid 1px;
	border-bottom:#DDDDDD solid 1px;
	overflow:hidden;
	font-size:0;
	margin-top:20px;
}
body.single #content.first #pageplugin {
	margin-top:40px;
	margin-bottom:30px;
	text-align:center;
}
body.single #content.first .profile .authorimg_wrap {
	width: 50px;
	height:50px;
	display:inline-block;
	vertical-align:middle;
}
body.single #content.first .profile .authorimg {
	width: 50px;
	height:50px;
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	background-size:cover !important;
	vertical-align:middle;
}
body.single #content.first .wp_rp_content {
	margin-top:50px;
}
body.single #content.first .wp_rp_content h3.related_post_title {
	background:none;
	background:url(../../../images/icon_article.png) no-repeat left 15px, url(../../../images/h2_bg02.png) repeat-x left bottom;
	background-size:15px auto, auto auto;
	font-size:18px;
	font-weight:bold;
	margin-bottom: 25px;
	padding: 10px 15px 8px 30px;
	line-height: 1.5em;
}
body.single #content.first .wp_rp_content .wp_rp_publish_date {
	display:block;
	font-size:12px;
	color:#6C6C6C;
	line-height:1.2;
	margin-bottom:5px;
}
body.single #content.first .wp_rp_content .wp_rp_title {
	font-size:13px;
	color:#5aa533 !important;
	line-height:1.5;
	visibility:hidden;
}
body.single #content.first .wp_rp_content .wp_rp_title:hover {
	text-decoration:underline;
}
body.single #content.first .wp_rp_content ul.related_post li a.wp_rp_thumbnail {
	margin:0 20px 0 0 !important;
}
body.single #content.first .wp_rp_content ul.related_post {
	-moz-column-rule:none !important;
	-webkit-column-rule:none !important;
	-o-column-rule:none !important;
	-ms-column-rule:none !important;
}
body.single #content.first ul.related_post li img {
	height:auto;
}
body.single #content.first .profile .authorimg img {
	width:50px;
	height:50px;
}
body.single #content.first .profile .author_wrap {
	display:inline-block;
	width:70%;
	margin-left:3%;
	vertical-align:middle;
}
body.single #content.first .profile .author_wrap .author {
	font-size:15px;
	margin-bottom:10px;
}
body.single #content.first .profile .author_wrap .text {
	font-size:12px;
}
body.single #content.first .pblink_wrap {
	overflow:hidden;
	margin-top:30px;
}
body.single #content.first .pblink a {
	color:#7DCDF3;
	font-size:13px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
body.single #content.first .pblink a:hover {
	text-decoration:underline;
}
body.single #content.first .pblink.prev a {
	float:left;
	padding-left:30px;
	background:url(../../../images/icon_arrow_pre.png) no-repeat 5% top;
	background-size:16px auto;
}
body.single #content.first .pblink.prev a:hover {
	background:url(../../../images/icon_arrow_pre.png) no-repeat 0% top;
	background-size:16px auto;
}
body.single #content.first .pblink.next a {
	float:right;
	padding-right:30px;
	background:url(../../../images/icon_arrow_next.png) no-repeat 95% top;
	background-size:16px auto;
}
body.single #content.first .pblink.next a:hover {
	background:url(../../../images/icon_arrow_next.png) no-repeat 100% top;
	background-size:16px auto;
}
body.single #content.first .contactArea {
	padding-top:30px;
	overflow:hidden;
	margin-bottom:50px;
	color:#262626;
}
body.single #content.first .contactArea .left_top {
	width:40%;
	float:left;
}
body.single #content.first .contactArea .left_top .logo_story {
	background:url(images/logo.svg) no-repeat left top;
	background-size:68px auto;
	padding:10px 0 0 80px;
	font-size:15px;
	font-weight:bold;
	margin-bottom:15px;
	height:31px;
}
body.single #content.first .contactArea .left_top .logo_story span {
	font-size:12px;
}
body.single #content.first .contactArea .text {
	font-size:11px;
	line-height:2;
}
body.single #content.first .contactArea .right_bottom {
	width:55%;
	float:right;
	margin: 0;
  padding: 8px;
  background:url(images/stripe.png) repeat left top;
  background-size: 4px 4px;
	text-align:center;
}
body.single #content.first .contactArea .right_bottom .inner{
	background:#FFF;
	padding:28px 25px 25px 25px;
}
body.single #content.first .contactArea .right_bottom .catch {
	display:inline-block;
	font-weight:bold;
	font-size:15px;
	margin-bottom:7px;
	background:url(../../../images/icon_mail.png) no-repeat left 1px;
	background-size:14px auto;
	padding-left:24px;
}
body.single #content.first .contactArea .right_bottom .text {
	margin-bottom:12px;
	font-size:11px;
	padding-left:1em;
}

body.single #content.first a img {
	backface-visibility: hidden;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
body.single #content.first a img:hover {
	filter:alpha(opacity=70);
	-moz-opacity: 0.7;
	opacity: 0.7;
}
/* Images | Gallery | Videos
-------------------------------------------------------------- */
article .wp-post-image {
	max-width: 100%;
	height: auto;
}
.entry img, .comment img {
	max-width: 100%;
	height: auto;
}

.alignleft {
	float: left;
	display: inline;
}
.alignright {
	float: right;
	display: inline;
	margin: 1em 0 1em 2em;
}
.aligncenter {
	margin: 1em auto;
	display: block;
}

/* Footer
-------------------------------------------------------------- */
.footer {
  background: #7DCDF3;
  padding: 30px 20px;
  position: relative;
	text-align: center;
}
.footer .logo {
  font-family: 'Slabo 27px', serif;
	color:#fff;
  text-transform: uppercase;
}
.footer .logo h2 {
  margin: 0px 20px 0 0;
  font-size: 43px;
}

.footer .logo h2 a {
  margin: 0;
  padding: 0;
  -webkit-transition: opacity 200ms ease-out;
  -moz-transition: opacity 200ms ease-out;
  transition: opacity 200ms ease-out;
  color: #fff;
}
.footer .logo h2 a:hover {
  opacity: .7;
  text-decoration: none;
}
.footer address {
	display: block;
  font-size: 14px;
  font-family: "Times New Roman", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "メイリオ", Meiryo, serif;
	color:#fff;
  line-height: 1.7;
}
.footer small {
	display: block;
	text-align: center;
  font-size: 12px;
  font-family: "Times New Roman", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "メイリオ", Meiryo, serif;
	color: #fff;
}

/*ã‚¹ãƒ©ã‚¤ãƒ€ãƒ¼*/
.post-pagination{
	margin-bottom: 40px;
}
.pagination {
	left: 0;
	bottom:0;
	width: 100%;
	height: 10px;
	text-align: center;
	position: absolute;
	z-index: 200;
}
.pagination a {
	margin: 0 5px;
	width: 10px;
	height: 10px;
	display: inline-block;
	overflow: hidden;
	background: #FFF;
	border-radius:100%;
}
.pagination a.active {
	background:#7DCDF3!important;
	-moz-opacity: 1!important;
	opacity: 1!important;
}


/*============================ MEDIA QUERIES ============================*/

@media only screen and (max-width: 80em) {
#logo-gnav-header .inner h2 a {
	padding: 0;
	font-size: 48px;
}
}

/* Small screens | <1120px */
@media only screen and (max-width: 70em) {
.container {
	width: 96%;
}
#wrapper {
	margin-top: 1.5em;
}

#header-inner {
	width: 100%;
}
#header {
	padding: 2.2em;
}
#logo .site-title {
	font-size: 2.5em;
}
#mainnav-menu a {
	font-size: 0.9em;
}
}
/* Smaller screens | <1120px */
@media only screen and (max-width: 65em) {
.container {
	width: 97%;
}
#wrapper {
	margin-top: 1em;
}
#header-inner {
	width: 100%;
}
#header {
	padding: 1.8em;
}
#logo-gnav-header .inner h2 a {
	font-size: 48px;
}
}

/* Tablets (landscape) | <960px */
@media only screen and (max-width: 60em) {
.container {
	width: 96%;
}
#wrapper {
	margin-top: 1%;
}
#header-inner {
	width: 100%;
}

#logo-gnav-header .inner h2 {
	padding: 0.5em 0;
	font-size: 2.1empx;
}
#content {
	float: none;
	width: 100%;
	padding: 0;
	box-shadow:none;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
}
#sidebar {
	clear: both;
	float: none;
	margin: 0;
	padding-top: 1em;
	width: 100%;
}
.page-title, .entry-title {
	font-size: 1.9em;
}
/* Mobile Top Navigation */

	/* Reset */
	#topnav, #topnav-list, #topnav-list li, #topnav-list a, #topnav-list ul, #topnav-list ul a, #topnav-list ul ul, #topnav-list li ul ul {
	margin: 0;
	padding-left: 1.0em;
	position: static;
	float: none;
	display: inline;
	font-size: 1em;
	border: none;
	box-shadow: none;
	background: none;
	top: 0;
	left: 0;
}
#topnav-list li a:after{
 display: none;
}

#head_h1 h1 {
	background:none;
	width:100%;
	margin:0 auto;
	color:#fff;
	padding-left:2%;
	font-size:11px;
}

#logo-gnav-header {
	height:45px;
}
#logo-gnav-header .inner {
	width:100%;
	height:45px;
}
#logo-gnav-header .inner h2 {
	padding-left:2%;
}

#logo-gnav-header .inner h2 a{
	font-size: 41px;
}

#logo-gnav-header .inner ul.gnav li.gnav-item a span {
	font-size:14px;
}


/*ã“ã“ã‹ã‚‰è¿½åŠ è¦ç´ */
body.home #content article .article-list-right .article-list-eyecatch, body.archive #content article .article-list-right .article-list-eyecatch {
	width:330px;
	height:220px;
}

body.home #content > div+article .article-list-right .article-list-eyecatch, body.archive #content > div+article .article-list-right .article-list-eyecatch {
	width:330px;
	height:220px;
}

.widgettitle {
	margin-bottom:15px;
}
.widgettitle span {
	padding:2px 0 10px 30px;
}

/*è¨˜äº‹*/
body.single #content.first {
	padding:20px 36px;
}
body.single #content.first .entry-title {
	font-size:30px;
	line-height: 1.5;
	font-weight: 600;
}

body.single #content.first .entry h2 {
	font-size:28px;
	background-color:#F3F3F3;
	border-radius:10px;
	padding: 21px 18px 20px;
}

body.single #content.first .entry h3 {
	font-size:24px;
	padding: 18px 0;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}
body.single #content.first .entry h4 {
	font-size:14px;
}
body.single #content.first .entry h5 {
	font-size:14px;
}
body.single #content.first .entry h2 ,body.single #content.first .entry h3,body.single #content.first .entry h4,body.single #content.first .entry h5{
	font-weight: bold;
	line-height: 1.6;
	color:#000;
	margin: 60px 0 22px;
}

body.single #content.first .contactArea {
	padding-top:20px;
	margin-bottom:30px;
}
body.single #content.first .contactArea .left_top {
	width:100%;
	float:none;
	margin-bottom:20px;
}
body.single #content.first .contactArea .right_bottom {
	float:none;
	width:100%;
	background:none;
	border:3px solid #F1F3F2;

	height:auto;
}
body.single #content.first .contactArea .right_bottom .inner{
	padding:20px 15px;
}
body.single #content.first .contactArea .right_bottom .catch {
	font-size:13px;
	background-position:left 3px;
	line-height:1.5;
}
body.single #content.first .contactArea .right_bottom .text {
	font-size:10.5px;
}
}

/* Tablets (portrait) | <800px */
@media only screen and (max-width: 50em) {
#logo-gnav-header .inner ul.gnav li.gnav-item a span{
	padding-left: 0;
	font-size: 0.8em;
}
#logo-gnav-header .inner h2 a {
	font-size:36px;
}
#topnav, #topnav-list, #topnav-list li, #topnav-list a, #topnav-list ul, #topnav-list ul a, #topnav-list ul ul, #topnav-list li ul ul {
padding-left: 0.5em;
font-size: 0.95em;
}
body.home #content article .article-list-right .article-list-eyecatch, body.archive #content article .article-list-right .article-list-eyecatch {
	width:240px;
	height:160px;
}
body.home #content > div+article .article-list-right .article-list-eyecatch, body.archive #content > div+article .article-list-right .article-list-eyecatch {
	width:240px;
	height:160px;
}

/* Mobile Footer Navigation */

/* Reset */
.entry h1, .comment h1 {
	font-size: 2.2em;
}
.entry h2, .comment h2 {
	font-size: 1.8em;
}
.entry h3, .comment h3 {
	font-size: 1.4em;
}
.entry tr th, .entry thead th {
	padding: 0.2em 0.4em;
}
.entry tr td {
	padding: 0.2em 0.4em;
}
}

/* Phablets (portrait) | <640px */
@media only screen and (max-width: 40em) {

#head_h1{
	display:none;
}
#logo-gnav-header{
	background-color: #7DCDF3;
}

#logo-gnav-header .inner ul.gnav li.gnav-item a span{
	padding-left: 0;
	font-size: 0.7em;
	color:#fff;
}
#logo-gnav-header .inner h2 a{
	font-size: 2.2em;
	color:#fff;
}
#topnav, #topnav-list, #topnav-list ul{
	margin-left:10px;
	padding: 0;
}
#topnav-list a, #topnav-list li, #topnav-list li a{
	display: inline-block;
	padding-left:0.2px;
	font-size: 10px;
	border-left: 1px solid #000；
}
body.home #content article .article-list-right .article-list-eyecatch, body.archive #content article .article-list-right .article-list-eyecatch {
	width:180px;
	height:120px;
}
body.home #content > div+article .article-list-right .article-list-eyecatch, body.archive #content > div+article .article-list-right .article-list-eyecatch {
	width:180px;
	height:120px;
}
.page-title, .entry-title {
	font-size: 1.7em;
}
.post-pagination {
	color: #7DCDF3;
	line-height: 1.4em;
	margin-bottom: 3em;
	font-size:0;
	width:100%;
	display:block;
	margin-top:10px;
}
.post-pagination .page-numbers.current {
	display:inline-block;
	font-size:13px;
	padding:15px 10px;
	line-height:1.4em;
	border-radius:0;
	background:#7DCDF3;
	color:#FFF;
	text-decoration:none;
	margin-right:0;
	width:20%;
	text-align:center;
}
.post-pagination a {
	display:inline-block;
	font-size:13px;
	line-height:1.4em;
	margin-right:0;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	color: ##7DCDF3;
	background:#E3E8E6;
	padding:15px 10px;
	border-radius:0;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	width:20%;
	text-align:center;
	border-right:1px solid #DDD;
}

.post-pagination a:last-child {
	border-right:0;
}
.post-pagination a:hover {
	background:#7DCDF3;
	color:#FFF;
}

}


/* Smartphones | <480px */
@media only screen and (max-width: 30em) {
.container {
	width: 100%;
	margin: 0;
}
#wrapper, #footer-wrap {
	margin: 0;
}
#header-inner {
	width: 100%;
}
#header {
	padding: 1.5em;
}
#logo-gnav-header .inner h2 a {
	font-size: 2.2em;
}
#topnav #topnav-list .limit{
	display: none;
}
.page-title, .entry-title {
	font-size: 1.5em;
}
.alignright, .alignleft {
	float: none;
	margin: 1em 0;
}
}

/* Smartphones | <416px */
@media only screen and (max-width: 26em) {
	#logo-gnav-header .inner ul.gnav li.gnav-item a span {
		font-size:10px;
		padding: 0;
		margin: 0;
	}
	body.home #content article .article-list-right .article-list-eyecatch, body.archive #content article .article-list-right .article-list-eyecatch {
		width:150px;
		height:100px;
	}
	body.home #content > div+article .article-list-right .article-list-eyecatch, body.archive #content > div+article .article-list-right .article-list-eyecatch {
		width:150px;
		height:100px;
	}
}

/* Smartphones | <336px */
@media only screen and (max-width: 21em) {
#header {
	padding: 1.2em;
}
#logo-gnav-header .inner h2 a {
	font-size: 1.8em;
}

.page-title, .entry-title {
	font-size: 1.3em;
}
.entry-meta .meta-date, .entry-meta .meta-author, .entry-meta .meta-comments, .postinfo span {
	display: block;
}
body.home #content article .article-list-right .article-list-eyecatch, body.archive #content article .article-list-right .article-list-eyecatch {
	width:135px;
	height:90px;
}
body.home #content > div+article .article-list-right .article-list-eyecatch, body.archive #content > div+article .article-list-right .article-list-eyecatch {
	width:135px;
	height:90px;
}
}
